.resume-head {
  display: flex;
  width: 100%;
  background-color: #fea;
  // color: #fafafa;
  padding: calc(10px + 5vmin) calc(10px + 3vmin);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .info {
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 1vmin);

    .name {
      font-size: calc(10px + 2vmin);
      margin-bottom: 3px;
      align-items: center;
      font-weight: 500;

      i {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        color: var(--pink);
        background: rgba(#fff, 0.6);
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        margin-left: 10px;
        border-radius: 3px;

        &.male {
          color: var(--blue);
        }
      }
    }
  }

  .info2 {
    margin-top: 10px;
  }
  .info3 {
    margin-top: 10px;
  }
}