.github-lencx_resume {
  position: fixed;
  right: 10px;
  top: 8px;
  cursor: pointer;

  img {
    width: 24px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 2px rgba(#000, 0.1);
    background-color: rgba(#000, 0.3);
  }
}