.resume-card-content {
  background-color: #fff;
  color: var(--black);

  a {
    color: var(--blue);
    margin: 0 3px;
  }

  ul, ol {
    list-style: none;
  }

  code {
    background-color: #ea9;
    border-radius: 4px;
    margin: 0 3px;
    padding: 0 4px;
    // color: var(--black);
    color: #fff;
    font-size: 12px;
  }

  del {
    color: #777;
  }
}