.resume-page {
  padding: 0 10px;

  .op-status-bar {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;

    .pdf-btn {
      display: inline-block;
      // color: rgba(#fff, 0.6);
      padding: 5px 5px 5px 0;
      cursor: pointer;
      margin-right: 10px;
    }

    .share-btn {
      cursor: pointer;
    }

    .lasttime {
      font-size: 14px;
      color: rgba(#fff, 0.5);
      margin-right: 45px;
    }
  }
}

.resume-card {
	box-shadow: 0 2px 4px rgba(#000, 0.3), 3px 4px 8px rgba(#000, 0.5);
  border-radius: 4px;
  overflow: hidden;
  min-height: 80vh;
  background-color: #fff;
  color: #4a4a4a;
}

.status-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}