.home-page {
  padding: 0 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-item {
    margin: 10px 0;
  }

  .tip {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    font-weight: 500;
    color: rgba(#fff, 0.6);
  }

  .preview-btn {
    width: 200px;
    height: 40px;
    font-size: 20px;
    background: #fff;
    border-radius: 4px;
    border: none;
    color: #47c791;
    cursor: pointer;
    transition-duration: 0.25s;

    &:disabled {
      color: #d2d2d2;
      cursor:not-allowed;
    }

    &:not(:disabled) {
      &:hover {
        background: #f87da9;
        // border: solid 1px #fff;
        color: #fff;
        cursor: pointer;
      }
    }

  }
}