.picinfo {
  display: flex;
  // justify-content: center;
  align-items: center;

  img {
    &.sm {
      width: 24px;
    }

    &.md {
      width: 36px;
    }

    &.lg {
      width: 48px;
    }

    &.border {
      border: solid 1px #e0e0e0;
      padding: 3px;
      border-radius: 2px;
      margin-right: 10px;
    }
  }


  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .title {
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 3px;
  }

  .desc {
    font-size: 14px;
    color: #666;
  }
}